# 忽略所有层级的 target 目录及其内容  是编译输出目录，存放编译后的文件、打包的 JAR 文件等
**/target/
# 更广泛（文件或目录），会忽略所有名为 .idea 的文件或目录，无论位于项目的哪个位置。 idea生成的配置目录 本机idea环境
.idea
#  忽略所有以 .iml 为后缀的文件（特指文件）  IDEA 使用的模块配置文件，描述了模块的结构和依赖关系
*.iml
# 忽略所有以 .class 为后缀的文件 java编译生成的
*.class
# 忽略所有以 Test.java 结尾的文件 通常是指测试类文件（例如 MyClassTest.java），这些文件可能是单元测试或集成测试代码
*Test.java
# 存放测试代码或测试资源文件 忽略项目中任意位置的名为 test 的目录及其所有内容
**/test/
