<?xml version="1.0" encoding="UTF-8" ?>
<!--头信息 约束 不动-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--        1. XML映射文件的名称与Mapper接口名称一致，并且将XML映射文件和Mapper接口放置在相同包下（同包同名）-->
<!--        2. XML映射文件的namespace属性为Mapper接口全限定名(包名+类名)一致-->
<mapper namespace="cn.zimeedu.sky.mapper.SetmealMapper">

    <!--    3. XML映射文件中sql语句的id与Mapper接口中的方法名一致，并保持返回类型一致。-->
    <!--    resultType查询返回的单条记录向哪里封装所以是User(全类名)不是List<User>  指定 SQL 映射语句中参数的类型 -->


    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert into setmeal (category_id, name, price, description, image, create_time, update_time, create_user, update_user) value
            (#{categoryId}, #{name}, #{price}, #{description},#{image}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update setmeal
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set> where id = #{id}
    </update>
    <delete id="delBatch">
        delete from setmeal where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>

    <select id="page" resultType="cn.zimeedu.sky.vo.SetmealVo">
        select setmeal.*, category.name as categoryName from setmeal left join category on setmeal.category_id = category.id
        <where>
            <if test="categoryId != null">setmeal.category_id = #{categoryId}</if>
            <if test="name != null">and setmeal.name like concat('%',#{name},'%')</if>
            <if test="status != null">and setmeal.status = #{status}</if>
        </where>
    </select>

</mapper>
